<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Ecom</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="{% url 'index' %}">Avto.net</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="{% url 'index' %}">Store <span class="sr-only">(current)</span></a>
	      </li>
	 
	    </ul>
	    <div class="form-inline my-2 my-lg-0">
	     	<a href="#"class="btn btn-warning">Login</a>
	     	
	     	<a href="{% url 'index' %}">
	    		<img  id="cart-icon" src="{% static 'images/cart.png' %}">
	    	</a>
	    	<p id="cart-total">0</p>

	    </div>
	  </div>
	</nav>
    

    <div class="row">
        <div class="col-md-4 px-5" style="max-width: 20.333333%;">
            
                <div class="row" id="fs_app" style="margin-right: 0px" >
                    
                    <section class="col-12" id="fs_header_bar">
                        <div class="row">
                            <div class="col-2">
                                <i class="fa fa-chevron-left"></i>
                            </div>
                            <div class="col-10" id="fs_page_title">
                                Filters
                            </div>
                        </div>
                    </section>
    
                    <section class="col-12" id="fs_price_body">
                        <div>
                            <span class="heading">
                                By Price
                            </span>
                            <div class="row" style="margin-right: 0px">
                                <div class="col-4">
                                    <button class="btn-filter" type="button">&dollar;</button>
                                </div>
                                <div class="col-4 active">
                                    <button class="btn-filter" type="button">&dollar;&dollar;</button>
                                </div>
                                <div class="col-4">
                                    <button class="btn-filter" type="button">&dollar;&dollar;&dollar;</button>
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="line1"></div>
                            <div>
                                <ul>
                                    <li>$25</li>
                                    <li>$50</li>
                                </ul>
                            </div>
                        </div>
                    </section>
    
                    <section class="col-12" id="fs_distance_body">
                        <span class="heading">
                            By Distance
                        </span>
                        <div class="contents">
                            <ul>
                                <li>
                                    <span>From 1 km to 3 km</span>
                                    <span class="text-right"></span>
                                </li>
                                <li class="active">
                                    <span>From 4 km to 7 km</span>
                                    <span class="text-right">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </li>
                                <li>
                                    <span>From 8 km to 10 km</span>
                                    <span class="text-right"></span>
                                </li>
                            </ul>
                        </div>
                    </section>
    
                    <section class="col-12" id="fs_time_body">
                        <span class="heading">
                            By Time
                        </span>
                        <div class="contents">
                            <ul>
                                <li>
                                    <span>Less than 30 Min</span>
                                    <span class="text-right"></span>
                                </li>
                                <li>
                                    <span>30 Min - 45 Min</span>
                                    <span class="text-right"></span>
                                </li>
                                <li class="active">
                                    <span>45 Min - 55 Min</span>
                                    <span class="text-right">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </section>
    
                    <section class="col-12" id="fs_rating">
                        <span class="heading">
                            By Rating
                        </span>
                        <div class="contents">
                            <ul>
                                <li>
                                    <span>
                                        <i class="fa fa-star dark"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span class="text-right"></span>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa fa-star dark"></i>
                                        <i class="fa fa-star dark"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span class="text-right"></span>
                                </li>
                            </ul>
                        </div>
                    </section>
    
                </div>
            
    

        </div>

        <div class="col-md-8">

 
            {% block content %}


            {% endblock content %}
        </div>

    </div>
    
           
               
            
    

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>